<!DOCTYPE html>
<html>
    <head>
        <title>PSP 2</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <style>
            body {
                background-color: ivory;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                height: 100vh;
                margin: 0;
                padding-top: 20px;
            }

            .btn {
                width: 200px;
                margin-top: 20px;
            }
            
            #logoutButton {
                position: absolute;
                top: 10px;
                right: 10px;
            }
        </style>
    </head>
    <body>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/psp2">首頁</a></li>
                <li class="breadcrumb-item"><a href="/psp2">PSP 2</a></li>
                <li class="breadcrumb-item active" aria-current="page">轉帳</li>
            </ol>
        </nav>
        <button
            type="button"
            id="logoutButton"
            class="btn btn-outline-danger"
            onclick="location.href='/psp2/logout'"
        >
            登出
        </button>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-body">
                            <h5 class="card-title">使用者名稱</h5>
                            <p class="card-text display-4" id="username"><%= userInfo.name %></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card text-white bg-success mb-3">
                        <div class="card-body">
                            <h5 class="card-title">帳號</h5>
                            <p class="card-text display-4" id="account"><%= userInfo.account %></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card text-white bg-info mb-3">
                        <div class="card-body">
                            <h5 class="card-title">餘額</h5>
                            <p class="card-text display-4" id="balance"><%= userInfo.balance %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h2 class="my-4">PSP 2</h2>
            <div class="form-group">
                <label for="recipient">目標轉帳對象:</label>
                <select class="form-control" id="recipient">
                    <% for(let item of data) { %>
                        <option value="<%= item.name %>" data-name="<%= item.name %>"><%= item.name %></option>
                    <% } %>
                </select>
            </div>
            <div class="form-group">
                <label>目標轉帳對象的帳號:</label>
                <p id="recipientAccount"><%= data[0].account %></p>
            </div>
            <div class="form-group">
                <label for="amount">轉帳金額:</label>
                <input type="number" class="form-control" id="amount" placeholder="請輸入轉帳金額" min="0" value="0" />
            </div>
            <div class="form-group">
                <label for="note">備註:</label>
                <input
                    type="text"
                    class="form-control"
                    id="note"
                    placeholder="請輸入轉帳的備註說明"
                    maxlength="30"
                    value="無"
                />
            </div>
            <button class="btn btn-primary" onclick="transfer()">確認</button>
        </div>
    </body>
    <script>
        // 在伺服器端將 data 陣列轉換為 JSON 字串，並在客戶端解析該字串
        const data = JSON.parse('<%- JSON.stringify(data) %>');
        
        document.getElementById("recipient").addEventListener("change", function () {
            const selectedOption = this.options[this.selectedIndex];
            const name = selectedOption.value;

            // 根據 data，使用 name 找到對應的 account
            const item = data.find(item => item.name === name);
            const account = item ? item.account : '';

            document.getElementById("recipientAccount").textContent = account;
        });

        async function transfer() {
            const from = document.getElementById("account").textContent;
            const to = document.getElementById("recipientAccount").textContent;
            const amount = document.getElementById("amount").value;
            const note = document.getElementById("note").value;
            const balance = document.getElementById("balance").textContent;

            const data = {
                from,
                to,
                amount,
                note,
                balance,
            };

            try {
                const response = await fetch("/psp2/transfer", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                });
                
                if (response.status == 200) {
                    window.alert("轉帳成功");
                    location.assign("/psp2");
                } else {
                    const res = await response.json();
                    throw new Error(res.message);
                }
            } catch (error) {
                window.alert(error.message);
                location.reload();
            }
        }
    </script>
</html>
