<!DOCTYPE html>
<html>
    <head>
        <title>PSP General</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
            crossorigin="anonymous"
        />
        <style>
            ins {
                font-weight: bold;
            }
            label {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h2 class="my-4">嚴格顧客驗證</h2>
            <label for="psp">支付服務商: </label>
            <input type="text" id="psp" value="<%= params.psp %>" disabled />
            <div class="psp err"></div>
            <label for="username">使用者名稱: </label>
            <input type="text" id="username" value="<%= params.name %>" autocomplete="username webauthn" disabled />
            <div class="username err"></div>
            <label for="account">使用者帳戶: </label>
            <input type="text" id="account" value="<%= params.account %>" disabled />
            <div class="account err"></div>

            <!-- 進階設定 -->
            <button
                class="btn btn-primary"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample"
            >
                進階設定
            </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <ins>Authentication Settings</ins>
                    <!-- User Verification -->
                    <label for="optAuthUserVerification"> User Verification </label>
                    <select name="optAuthUserVerification" id="optAuthUserVerification">
                        <option value="discouraged">Discouraged</option>
                        <option value="preferred" selected>Preferred</option>
                        <option value="required">Required</option>
                    </select>
                    <button class="btn btn-warning" onclick="location.reload();">重新設定</button>
                </div>
            </div>


            <h2 class="my-4">跨機構轉帳</h2>
            <table class="table_inter_psp_transfer">
                <tbody>
                    <tr>
                        <td class="bg-light" style="width: 30%;">來源支付服務商(fromPSP): </td>
                        <td id="fromPSP"><%= params.fromPSP %></td>
                    </tr>
                    <tr>
                        <td class="bg-light">來源支付服務商的使用者帳號(from): </td>
                        <td id="from"><%= params.from %></td>
                    </tr>
                    <tr>
                        <td class="bg-light">目標支付服務商(toPSP):</td>
                        <td id="toPSP"><%= params.toPSP %></td>
                    </tr>
                    <tr>
                        <td class="bg-light">目標支付服務商的使用者帳號(to): </td>
                        <td id="to"><%= params.to %></td>
                    </tr>
                    <tr>
                        <td class="bg-light">當前餘額(balance): </td>
                        <td id="balance"><%= params.balance %></td>
                    </tr>
                    <tr>
                        <td class="bg-light">跨機構轉帳金額(amount): </td>
                        <td id="amount"><%= params.amount %></td>
                    </tr>
                    <tr>
                        <td class="bg-light">備註(note): </td>
                        <td id="note"><%= params.note %></td>
                    </tr>
                </tbody>
            </table>

            <div>
                <button type="button" onclick="sca_inter_psp_transfer()">確認</button>
            </div>
        </div>

    </body>
    <!-- 引入 Bootstrap JS -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/@simplewebauthn/browser/dist/bundle/index.umd.min.js"></script>
    <script>
        async function sca_inter_psp_transfer() {
            try {
                // 嚴格顧客驗證 資訊
                let psp = document.getElementById("psp").value;
                let account = document.getElementById("account").value;
                let username = document.getElementById("username").value;
                let authUserVerification = document.getElementById("optAuthUserVerification").value;
                // 跨機構轉帳 資訊
                let fromPSP = document.getElementById("fromPSP").textContent;
                let from = document.getElementById("from").textContent;
                let toPSP = document.getElementById("toPSP").textContent;
                let to = document.getElementById("to").textContent;
                let balance = document.getElementById("balance").textContent;
                let amount = document.getElementById("amount").textContent;
                let note = document.getElementById("note").textContent;

                const { startAuthentication } = SimpleWebAuthnBrowser;
                // GET authentication options from the endpoint that calls
                // @simplewebauthn/server -> generateAuthenticationOptions()
                const resp = await fetch("/psp_general/sca_inter_psp_transfer/authenticate/options", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        psp,
                        account,
                        username,
                        userVerification: authUserVerification,
                        transaction_details: {
                            fromPSP,
                            from,
                            toPSP,
                            to,
                            balance,
                            amount,
                            note,
                        },
                    }),
                });
                // Pass the options to the authenticator and wait for a response
                const asseRespJSON = await resp.json();
                console.log("AUTHENTICATION OPTIONS");
                console.log(JSON.stringify(asseRespJSON, null, 2));

                const asseResp = await startAuthentication(asseRespJSON);
                console.log("AUTHENTICATION RESPONSE");
                console.log(JSON.stringify(asseResp, null, 2));

                // POST the response to the endpoint that calls
                // @simplewebauthn/server -> verifyAuthenticationResponse()
                const verificationResp = await fetch("/psp_general/sca_inter_psp_transfer/authenticate/result", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        asseResp,
                        psp,
                        account,
                        username,
                    }),
                });
                // Wait for the results of verification
                const verificationJSON = await verificationResp.json();
                if (!verificationJSON || !verificationJSON.verified) {
                    window.alert("嚴格顧客驗證 失敗!");
                    location.reload();
                }

                // 跨機構轉帳
                const interPSPtransferResult = await fetch("/psp_general/sca_inter_psp_transfer", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        fromPSP,
                        from,
                        toPSP,
                        to,
                        balance,
                        amount,
                        note,
                    }),
                });
                if (interPSPtransferResult.status == 200) {
                    window.alert("跨機構轉帳 成功!");
                    let domainName;
                    let port;
                    switch (psp) {
                        case "psp1":
                            domainName = "rp1.localhost";
                            port = 3000;
                            break;
                        case "psp2":
                            domainName = "rp2.localhost";
                            port = 4000;
                            break;
                    }
                    location.assign(`https://${domainName}:${port}/${psp}`);
                } else {
                    window.alert("跨機構轉帳 失敗!");
                    location.reload();
                }
            } catch (error) {
                console.log(error.message);
                window.alert(error.message);
            }
        }
    </script>
</html>
